{# empty Twig template #}
{# empty Twig template #}
{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/journal.css') }}" />
{% endblock %}{# empty Twig template #}

{% block body %}
    
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>
       
    <div class="container">
    <div class="col-lg-9">
        <div class="Notes-archive">Sierpień</div>   
    {% for note in notes %}
 <div class="Single-Post">
 <div class="col-lg-6 xls">
 <img src="/uploads/journal/pictures/{{ note.picture }}"  width="350" height="250"  />
 </div>
 <div class="col-lg-6 xls ">
 <h2>{{ note.title }} </h2>
         </br>
  <p>    {{ note.text[:250] ~ '...' }}  </p>
   
      <a href="{{ path('journal_next', {'id': note.id}) }}" >Zobacz więcej</a>
        </div>
        
        </div>
       {% endfor %}
       
       </div>
       
       <div class="Navbar col-lg-3">
         
          <div class="Panel"> Proponowane Artykuły  </div>
        
          
          {%  for article in articles %}
         
            <div class="article-small">
         <a href="{{ path('article_next', {'id': article.id}) }}">         <img src="/uploads/pictures/{{  article.picture }}"  width="250" height="200" margin-top="30"  /> </a>
           
        </br>
            
          <a href="{{ path('article_next', {'id': article.id}) }}">      <h1> {{ article.title }} </h1> </a>
           </div>
        
        {% endfor %}
       
       
       </div>
       
      </div>
    
     <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>
{% endblock %}
