<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="utf-8">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ asset('bundles/js/Js-Functions.js') }}"></script>
    <!-- Tutaj Css podepniemy :) -->
    <link rel="stylesheet" href="{{ asset('bundles/css/Layout/Layout.css') }}" /> 
    <!-- Ikonki -->
    <link rel="stylesheet" href="{{ asset('bundles/font/fontello/fontello/css/fontello2.css') }}" />
    <!-- Fonty !! -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
