{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/journal.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Index.css') }}" />
{% endblock %}{# empty Twig template #}

{% block body %}
    
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>
  
  <div class="container">
   <h1> O Mnie  </h1> 
   <div class="field">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, lorem eget pulvinar bibendum, urna lorem vestibulum magna, at efficitur mauris neque ac nulla. Donec sagittis quam et nisi dignissim, in molestie est placerat. Vivamus nibh libero, lacinia vitae porta et, lobortis ac ipsum. Sed ultrices erat id nibh pellentesque interdum. Proin condimentum hendrerit leo, eu elementum velit tincidunt vel. Duis nec est nulla. Nulla at pulvinar lorem. In hac habitasse platea dictumst. Nullam sed nibh tempus, feugiat tellus ut, tristique lacus. Nunc in aliquet nunc. Pellentesque id condimentum enim. </p>
     <p> Duis non quam est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus varius id risus eu fermentum. Pellentesque quis varius nunc. Pellentesque eu augue neque. Integer vitae massa vitae mauris egestas varius sit amet ut risus. Nulla facilisi. Pellentesque condimentum elementum efficitur. Aliquam erat volutpat. Pellentesque pharetra tincidunt elit, ut dictum sem mollis ut. Pellentesque elementum ac arcu ut consectetur. Vivamus id sollicitudin leo.  </p>  
   </div>
      
     </div>
  
  <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>


{% endblock %}