{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}{# empty Twig template #}


{% block body %}
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>

 <div class="main-content">
 {% for msg in app.session.flashBag.get('success') %}
 <div class="alert alert-success">
 {{ msg }}
 </div>
 {% endfor %}
 </div>


{{ form_start(CalculatorForm)  }}
{{ form_row(CalculatorForm.Kapital ,
{
  'label':'Kapitał',
  'attr': {
            'class': 'form-control'}
}) }}
{{form_row(CalculatorForm.ATR,
{
'label':'ATR',
 'attr': {
            'class': 'form-control'}
}) }}
</br>
<button type="submit" class="btn btn-success"> Licz </button>
{{ form_end(CalculatorForm)  }}

<div class="footer">  Copyright 2016 © 3i Forex Journal  </div>

{% endblock %}
