{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Index.css') }}" />
{% endblock %}
{% block body %}

    
    
    <div class="container">

   <div class="masthead margin-top">
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href=" {{ path('journal') }}">Journal</a></li>
            <li><a href=" {{ path('kalkulator') }}">Kalkulator</a></li>
            <li><a href=" {{ path('About') }}">O mnie</a></li>
            <li><a href=" {{ path('Kontakt')  }} ">Kontakt</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
<div class="jumbotron Navar-header2">

<div class="Text-header-A">
3i Forex Journal 
</div>
 
<div class="Text-header-B">
„Rynek nigdy nie jest oczywisty. Jest stworzony tak, by oszukiwać większość ludzi przez większość czasu.” - Jesse Livermore
</div>
 
    <div class="overlay-dark">
      </div>
    
</div>
          
          
   

<!-- Example row of columns -->
<div class="Text-Index">Najnowsze</div>
      <div class="row">
      
       {%  for key, article in article_new %}
                    <div class="col-lg-4 margin-top">
                            
                      <div class="pictures">
                      <a href="{{ path('article_next', {'id': article.id}) }}"><img src="/uploads/pictures/{{ article.picture }}" class="image"   /> </a>
                      <div class="overlay">
                      <div class="text">CZYTAJ CAŁOŚĆ</div>
                      </div>      
                      </div>
                    
                    <h1>{{ article.title}}</h1>
                    <p>{{ article.text[:500] ~ '...' }} </p>
                   
                     <div class="Button-header">
                      <a href="{{ path('article_next', {'id': article.id}) }}">      <button type="button" class="button-action">CZYTAJ CAŁOŚĆ</button> </a>
                              </div>
                    </div>
       {% endfor %}
          
     </div>
    </div>
  

       
    </div> <!-- /container -->

 <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    
{% endblock %}
