{# empty Twig template #}
{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/journal.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Index.css') }}" />
{% endblock %}{# empty Twig template #}

{% block body %}
    
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>

 <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>

<div class="container">
    <h1> Kontakt  </h2>
     <div class="field">
       
{{ form_start(MailForm)  }}
<div class="mail-row">
{{ form_row(MailForm.Email ,
{
  'label':'Email',
  'attr': {
            'class': 'power-control'}
}) }}
</br>
{{form_row(MailForm.Temat,
{
'label':'Temat',
 'attr': {
            'class': 'power-control'}
}) }}
</br>
<button type="submit" class="button-action-small"> Wyślij Wiadomość </button>
</div>

<div class="tekst-row">
{{form_row(MailForm.Tekst,
{
'label':'Tekst',
 'attr': {
            'class': 'power-control-2'}
}) }}
</div>
</br>

{{ form_end(MailForm) }}
  </div>    
  </div>


<div class="footer">  Copyright 2016 © 3i Forex Journal  </div>

{% endblock %}