 {% extends 'base.html.twig' %}   

 {% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" href="{{ asset('bundles/css/admin/admin.css') }}" />
 {% endblock %}

 {% block body %}
    
 <div class="Admin-navbar">
 Hello Admin !!!! 
 </div>
 </br>
 </br>
 <a href="{{ path('article') }}"> <button type="button" class="btn btn-primary">Articles</button> </a>
 <a href="{{ path('journal-admin') }}"> <button type="button" class="btn btn-primary">Journal-Notes</button> </a>
 
{% endblock %}
