{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}

{% block body %}

  <div class="Article-navbar">
    Try to Login !!!!
 </div>
 
    </br>
    </br>
    </br>
      
    <div style="margin-left:50px">
      {{ form_start(form) }}
                {{ form_row(form._username) }}
                </br>
                {{ form_row(form._password) }}
                </br>
            <a href="{{ path('admin')  }}">    <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button></a>

            {{ form_end(form) }}
   
            </div>
 

{% endblock %}