{# empty Twig template #}
{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}

{% block body %}
    
     <div class="Article-navbar">
 Journal Edit Panel !!!! 
 </div>
    
     </br>
{{ form_start(JournalForm)  }}
   
  {{ form_row(JournalForm.Picture) }}
  </br>

  {{ form_row(JournalForm.Title,
{
  'attr': {
            'class': 'form-control'}
 }) }}
   

  {{ form_row(JournalForm.Text,
{
 'attr': {
            'class': 'form-control'}
}) }}
</br>
{{  form_row(JournalForm.data) }}
</br>

<button type="submit" class="btn btn-success"> Dodaj </button>

  {{ form_end(JournalForm)  }}
    
    
    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}