{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}{# empty Twig template #}


{% block body %}
 
 <div class="Article-navbar">
 Journal Panel !!!! 
 </div>
    
           <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    
               </br>
               
                <a href="{{ path('journal-creat') }}" class="btn btn-xs btn-success">Dodaj Wpis</a>
                </br>
                 </br>

                  </br>


                <table class="table table-striped">
                    <tr> 
                        <th>Id  </th>
                        <th>Journal Title</th>
                        <th>Journal Text</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Comments</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for journal in journals %}
                        <tr>
                            <td>{{ journal.id }}</td>
                            <td>{{ journal.Title }}</td>
                            <td>{{ journal.Text }}</td>
                            <td>{{ journal.data|date('Y-m-d') }}</td>
                            <td>
                                <a href="{{ path('journal_edit', {'id': journal.id}) }}" class="btn btn-xs btn-success"><i class="icon-pencil"></i></a>
                                   </td>
                                   <td>
                   
                                   
                                <a href="{{ path('journal_delete', { 'id': journal.id }) }}" class="btn btn-xs btn-danger"><i class="icon-cancel"></i></a>
                                
                            </td>
                             <td>
                                <a href="{{ path('comments_show', { 'id': journal.id }) }}" class="btn btn-xs btn-warning"><i class="icon-cancel"></i></a>
                            </td>
                             <td>&nbsp;  </td>
                        </tr>
                    {% endfor %}
                </table>
 

    
{% endblock %}