{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/journal-single.css') }}" />
{% endblock %}{# empty Twig template #}
{% block body %}
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>
<div class="container">    
<div class="Journal_next_picutre">
<img src="/uploads/journal/pictures/{{ journal.picture }}"  width="100%" height="700"  />
</br>
<div class="title"> <h2>{{ journal.title }} </h2> </div>
<div class="text"> {{ journal.text }} </div>
</div>

</br>

<div class="coments-action">Dodaj  Komentarz</div>

{{ form_start(commentForm)  }}
   
{{ form_row(commentForm.Author,
{
'attr': {
 'class': 'do-it' } ,
'label': 'Autor'
}) }}
  </br>

  {{ form_row(commentForm.Text,
{
 'label': 'Tekst',
  'attr': {
            'class': 'form-control'}
 }) }}
   
</br>

<button type="submit" class="button-action-small"> Dodaj Komentarz </button>

  {{ form_end(commentForm)  }}

  
</br>
</br>
 
<div class="coments-action">  Komentarze                     </div>
       
  {% for comment in journal.comments %}
       <div class="single-comment">
     <span style="font-weight:bold"> <tr>  {{ comment.author }}  {{ comment.data|date('Y-m-d')  }}</tr> </span>
     </br>
     </br>
      <tr>
      {{ comment.text  }} 
     </tr>
     </br>
     </br>
     </div>
{% endfor %}
  




  <div class="Text-Index">Inne Pozycje</div>
   
   
  {% for journalx in journalxs%}
     
      <div class="col-lg-3 margin-top">
       <a href="{{ path('journal_next', { 'id': journalx.id }) }}">
      <img src="/uploads/journal/pictures/{{ journalx.picture }}"  width="250" height="200"  /> </a>
      </br>
       <a href="{{ path('journal_next', { 'id': journalx.id }) }}">     <div class="titleX"> {{ journalx.title }} </div> </a>
      </div>
   {% endfor %}
        </div>
        
         <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>
        
   <!-- Koniec Containera -->  
   {% endblock %}
