{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/css/admin/journal.css') }}" />
{% endblock %}{# empty Twig template #}

{% block body %}
    
<a href="{{ path('homepage')}}">
<div class="Package">
    <div class="single-header">
    <div class="Text-header-C">
3i Forex Journal
</div>
</div>
</div>
</a>
    
<div class="container">
    
<div class="col-lg-9 ">
{% for note in notes %}
<div class="Single-Post">
<div class="col-lg-6 xls">
<img src="/uploads/journal/pictures/{{ note.picture }}"  width="350" height="250"  />
</div>
<div class="col-lg-6 xls ">
<h2>{{ note.title }} </h2>
</br>

<p>    {{ note.text[:250] ~ '...' }}  </p>


<a href="{{ path('journal_next', {'id': note.id}) }}" >Zobacz więcej</a>
</div>
</div>
{% endfor %}
</div>
    
       <div class="Navbar col-lg-3 ">
           <div class="Panel"> Archiwum</div>
                 <ul class="list-Archives margin-bottom"> 
                 <a href="{{ path('styczen') }}"> <li> Styczeń  {{ Archiwum[0] }}  </li>  </a>
                 <a href="{{ path('luty') }}">     <li> Luty  {{ Archiwum[1] }} </li>  </a>
                 <a href="{{ path('marzec') }}">      <li> Marzec   {{ Archiwum[2] }} </li></a>
                 <a href="{{ path('kwiecien') }}">      <li> Kwiecień  {{ Archiwum[3] }} </li></a>
                 <a href="{{ path('maj') }}">     <li> Maj   {{ Archiwum[4] }} </li></a>
                 <a href="{{ path('czerwiec') }}">     <li> Czerwiec    {{ Archiwum[5] }} </li></a>
                 <a href="{{ path('lipiec') }}">     <li> Lipiec    {{ Archiwum[6] }} </li></a>
                 <a href="{{ path('sierpien') }}">     <li> Sierpień    {{ Archiwum[7] }} </li></a>
                 <a href="{{ path('wrzesien') }}">      <li> Wrzesień    {{ Archiwum[8] }} </li></a>
                 <a href="{{ path('pazdziernik') }}">     <li> Październik    {{ Archiwum[9] }} </li></a>
                 <a href="{{ path('listopad') }}">      <li> Listopad   {{ Archiwum[10] }}</li></a>
                 <a href="{{ path('grudzien') }}">      <li> Grudzień   {{ Archiwum[11] }}</li></a>
                 </ul>
           <div class="Panel">Proponowane Artykuły</div>
        
          
        {%  for article in articles %}
         <div class="article-small">
        <a href="{{ path('article_next', {'id': article.id}) }}">      <img src="/uploads/pictures/{{  article.picture }}"  width="250" height="200" margin-top="30"  /> </a>
           </br>
            <a href="{{ path('article_next', {'id': article.id}) }}">     <h1> {{ article.title }} </h1> </a>
           </div>
        {% endfor %}
       </div>
       
</div>
       
     <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>
{% endblock %}
