{# empty Twig template #}
{# empty Twig template #}
{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}

{% block body %}
 
 <div class="Article-navbar">
 Comments Panel !!!! 
 </div>
    
           <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    
                      
                 </br>

   <table class="table table-striped">
       <tr> 
       <th>Autor </th>
       <th>Data</th>
       <th>Komentarz</th>
        <th>Delete</th>
       </tr>
       
  {% for comment in journal.comments %}
     <tr>
     <td> {{ comment.author }} </td>
     <td>{{  comment.data|date('Y-m-d') }}</td>
     <td> {{ comment.text  }} </td>
     <td> <a href= "{{ path('article_comments', {
                                       journalId:   journal.id,
                                       commentId:   comment.id
                                         }) }}"  
                             
                          <div   class="btn btn-xs btn-warning">   <i class="icon-cancel"></i> </div>
                                </a>
                          </td>
                           </tr>
         {% endfor %}

 

</table>  
         <div class="footer">  Copyright 2016 © 3i Forex Journal  </div>


{% endblock %}