
{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}

{% block body %}
 
 <div class="Article-navbar">
 Article Panel !!!! 
 </div>
    
           <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    
               </br>
               
                <a href="{{ path('article-creat') }}" class="btn btn-xs btn-success">Dodaj Artykuł</a>
                </br>
                 </br>

                  </br>


                <table class="table table-striped">
                    <tr> 
                        <th>Id  </th>
                        <th>Article Title</th>
                        <th>Article Text</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>comments</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.Title }}</td>
                            <td>{{ article.Text }}</td>
                            <td>
                                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-xs btn-success"><i class="icon-pencil"></i></a>
                                   </td>
                                   <td>
                   
                                       
                                <a href="{{ path('article_delete', { 'id': article.id }) }}" class="btn btn-xs btn-danger"><i class="icon-cancel"></i></a>
                            </td>
                            <td>
                             <a href="{{ path('comments_show2', { 'id': article.id }) }}" class="btn btn-xs btn-warning"><i class="icon-cancel"></i></a>
                             </td>
                            <td>&nbsp;  </td>
                        </tr>
                    {% endfor %}
                </table>
 

    
{% endblock %}