{# empty Twig template #}


{% extends 'base.html.twig' %}   

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/css/admin/Article.css') }}" />
{% endblock %}

{% block body %}
    
    <div class="Article-navbar">
 Edit Article !!!! 
 </div>
 </br>
  {{ form_start(ArticleForm)  }}
   
  {{ form_row(ArticleForm.Picture) }}
  </br>

  {{ form_row(ArticleForm.Title,
{
  'attr': {
            'class': 'form-control'}
 }) }}
   

  {{ form_row(ArticleForm.Text,
{
 'attr': {
            'class': 'form-control'}
}) }}
</br>

<button type="submit" class="btn btn-success"> Dodaj </button>

  {{ form_end(ArticleForm)  }}

{% endblock %}